<div class="col-md-8 col-md-offset-2 login">
    <img class = "rlg" src="..\local\logo.png"/>
    <h2 class = "text-center">Change Password</h2>
    <form name="form" ng-submit="vm.change_password()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <div class = "row">
                <label class = "col-md-3 col-md-offset-1" for="current password">Current Password:</label>
                <input class = "col-md-6" type="password" name="current password" id="current password" class="form-control" ng-model="vm.user.current password" required />
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <div class = "row">
                <label class = "col-md-3 col-md-offset-1" for="new password">New Password:</label>
                <input class = "col-md-6" type="password" name="new password" id="new password" class="form-control" ng-model="vm.user.new password" required />
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <div class = "row">
                <label class = "col-md-3 col-md-offset-1" for="confirm password">Confirm Password:</label>
                <input class = "col-md-6" type="password" name="confirm password" id="confirm password" class="form-control" ng-model="vm.user.confirm password" required />
            </div>
        </div>
        <div class="form-actions col-md-3 col-md-offset-5">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Submit</button>
            <a href="#/main" class="btn btn-link">Cancel</a>
        </div>
        <br/><br/>
    </form>
</div>
