<div class="col-md-8 col-md-offset-2 login">
    <img class = "rlg" src="..\local\logo.png"/>
    <h2 class = "text-center">Reset Password</h2>
    <div class="orderedlist">
        <div class = "rpadding">
        <ol>
            <br/><li>The password should consist of at least one alphabet and one number.</li>
            <li>The password should be a minimum of 7 characters.</li>
            <li>Password cannot be same as User Name – spelled forward or backward.</li>
            <li>Password cannot be a single character repeated 6 times.</li>
            <li>Password cannot have more than two pairs of repeated characters.</li>
            <li>The new password must differ from the old password by at least 1 character.</li><br/>
        </ol>
        </div>
    </div>
    <form name="form" ng-submit="vm.reset_password()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.user.$error.required }">
            <div class = "row">
            <label class = "col-md-3 col-md-offset-1" for="username">User name:</label>
            <input class = "col-md-6" type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
            <span ng-show="form.usrname.$dirty && form.username.$error.required" class="help-block">Username is required</span>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <div class = "row">
            <label class = "col-md-3 col-md-offset-1" for="new password">New Password:</label>
            <input class = "col-md-6" type="password" name="new password" id="new password" class="form-control" ng-model="vm.user.new password" required />
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <div class = "row">
            <label class = "col-md-3 col-md-offset-1" for="confirm password">Confirm Password:</label>
            <input class = "col-md-6" type="password" name="confirm password" id="confirm password" class="form-control" ng-model="vm.user.confirm password" required />
            </div>
        </div>
        <div class="form-group">
            <div class="row">
            <label class="col-md-3 col-md-offset-1" for="Q1">Security Question:</label>
            <select class="col-md-6" class="form-control" id="Q1" >
                        <option>Please select any question</option>
                        <option>What is the name of your pet?</option>
                        <option>What is your favourite color?</option>
                        <option>What is the name of your best friend?</option>
                        <option>What is the city of your birth?</option>
            </select>
            </div>
        </div>
         <div class="form-group">
             <div class="row">
                    <label class="col-md-3 col-md-offset-1" for="Answer1">Answer</label>
                    <input class="col-md-6" type="text" class="form-control" id="Answer1" required>
             </div>
        </div>
        <div class="form-actions col-md-3 col-md-offset-5">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Submit</button>
            <a href="#/login" class="btn btn-link">Cancel</a>
        </div>
        <br/><br/>
    </form>
</div>
